@CHARSET "UTF-8";
#user{
	text-align:center;
}
#user dl dd{
	margin:20px;
}
#user dl dd input.text{
	width:300px;
	height:25px;
}
#user dl dd input.button{
	width:50px;
	height:25px;
	border:1px solid #3a5775;
	background:#fff;
}
#user dl dd input.button:hover{
	background:#3a5775;
	color:#fff;
}
#user dl dd input#submit{
	width:100px;
	height:25px;
	border:1px solid #3a5775;
	background:#fff;
}
#user dl dd input#submit:hover{
	background:#3a5775;
	color:#fff;
}