@CHARSET "UTF-8";
#member #member_main dl{
	width:600px;
	margin:15px auto;
	font-size:16px;
}
#member #member_main dl dd{
	padding:15px 0;
	border-bottom:1px solid #ccc;
}
#member #member_main dl dd span{
	font-weight:bold;
}
#member #member_main dl dd input.text{
	width:200px;
	height:25px;
	border:1px solid #3a5775;
}
#member #member_main dl dd input.submit{
	width:100px;
	height:25px;
	border:1px solid #3a5775;
	cursor:pointer;
}
#member #member_main dl dd a{
	color:#3a5775;
	background:#fff;
	border:2px solid #3a5775;
	text-decoration:none;
	padding:2px;
}
#member #member_main dl dd a:hover{
	color:#fff;
	background:#3a5775;
}
