@CHARSET "UTF-8";
#password_change{
	color:#3a5775;
	font-size:16px;
}
#password_change h2{
	padding-left:150px;
	color:#fff;
	background:#3a5775;
}
#password_change dl dd{
	margin:10px 50px;
	position:relative;
}
#password_change dl dd span{
	font-weight:bold;
}
#password_change dl dd input{
	width:200px;
	height:25px;
	border:1px solid #3a5775;
}
#password_change dl dd input.yzm{
	width:90px;
}
#password_change dl dd img#code{
	position:absolute;
	top:0;
	margin-left:10px;
}
#password_change dl dd input.submit{
	width:150px;
	margin-left:87px;
	cursor:pointer;
}